<!DOCTYPE html>
<html>
  <head>
    <title>Reprogrammer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>

  <body class="w-full"></body>
    <% if flash[:success] %>
      <div class="bg-green-100 border-t-4 border-green-500 rounded-b text-green-900 px-4 py-3 shadow-md" role="alert">
        <%= flash[:success] %>
      </div>
    <% end %>

    <% if flash[:warning] %>
      <div class="bg-orange-100 border-t-4 border-orange-500 rounded-b text-orange-900 px-4 py-3 shadow-md" role="alert">
        <%= flash[:warning] %>
      </div>
    <% end %>

    <main class="w-full">
      <%= yield %>
    </main>
  </body>
</html>
